.git
.github
.dvc
.venv
venv
__pycache__
**/__pycache__
*.pyc
.pytest_cache
.ruff_cache
mlruns
docs
site
tests
*.ipynb
*.html
data
production_drift.html
test_drift.html
monitor.ipynb
README.md
LICENSE
mkdocs.yml
makefile
requirements-dev.txt
